@charset "utf-8";

.view4{
	position: absolute;
	z-index: 5;
	margin-top: 168%;
	left: 0%;
	width: 100vw;
	padding-bottom: 56%;
	background-color: transparent;
	opacity: 1;
	overflow: hidden;

	
}
.bg4{
	position: absolute;
	z-index: -1;
	left: 0%;
	width: 100%;
	opacity: 1;
	margin-top: 168%;
	padding-bottom: 56%;
}
.grassleft{
	position: absolute;
	z-index: 2;
	margin-left: 9.38%;
	margin-top: 48%;
	width: 5%;
	background-color: transparent;
	
}
.grasscenterleft{
	position: absolute;
	z-index: 2;
	margin-left: 28%;
	margin-top: 44%;
	width: 10%;
	background-color: transparent;
	
}
.grasscenter{
	position: absolute;
	z-index: 2;
	margin-left: 55%;
	margin-top: 48%;
	width: 6%;
	background-color: transparent;
}
.grasscenterrigt{
	position: absolute;
	z-index: 2;
	margin-left: 70%;
	margin-top: 45%;
	width: 6%;
	background-color: transparent;
}
.grassright{
	position: absolute;
	z-index: 2;
	margin-left: 91%;
	margin-top: 47%;
	width: 6%;
	background-color: transparent;
}
.subtitle4{
	position: absolute;
	z-index: 5;
	width: 100%;
	font-size: 70px;
	margin-left: 0%;
	margin-top: 6%;
	color: #c98c24;
	font-weight: bold;
	text-align: center;
}
.gas{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 100px;
	background-color: transparent;
	outline: none;
	margin-left: 2%;
	margin-top: 19%;
	width: 25%;
	height: 46.3%;
	color: #acd3d2;
	
}


.textcardgas {
  	position: absolute;
	z-index: 6;
	margin-top: 0%;
	margin-left: 3%;
	width: 77%;
	padding-bottom: 92%;
	opacity: 1;
  	perspective: 1000px;



}
.textcardgas:hover{
	-webkit-filter:brightness(1.2);


}

.gascard {
	width: 100%;
  	transition: transform 2s;
  	transform-style: preserve-3d;
  	cursor: pointer;
}

.gasfront, .gasback {
	position: absolute;
	display: flex;
	font-size: 18px;
	color: #0B3140;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;
	


}


.gasfront {
	padding-bottom: 7.5%;
}

.gasfimg{
	width: 100%;
	margin-top: 10%;
}

.gasback {
	
  	transform: rotateY(180deg);
	line-height: 1.2;
	padding-bottom: 25%;
	-webkit-text-size-adjust:none;	
	
}
.gasspace{
	font-size: 20px;
	line-height: 1;
	-webkit-text-size-adjust:none;
}
.gascontent{
	font-size: 16px;
	text-align: center;
	-webkit-text-size-adjust:none;
}


.textcardgas.open {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 0.1s;
    margin-top: -150px ;
	opacity: 1;
}
.textcardgas.close {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 2s;
    margin-top: 0px ;
	opacity: 0;
}

.sun{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 100px;
	background-color: transparent;
	outline: none;
	margin-left: 27%;
	margin-top: 19%;
	width: 25%;
	height: 46.3%;
	color: #acd3d2;
}
.textcardsun {
  	position: absolute;
	z-index: 6;
	margin-top: 0%;
	margin-left: 3%;
	width: 77%;
	padding-bottom: 92%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardsun:hover{
	-webkit-filter:brightness(1.2);
}


.suncard {
	width: 100%;
  	transition: transform 2s;
  	transform-style: preserve-3d;
  	cursor: pointer;
}

.sunfront, .sunback {
	position: absolute;
	display: flex;
	font-size: 20px;
	color: #0B3140;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}

.sunfront {
	padding-bottom: 20%;
}

.sunfimg{
	width: 100%;
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sunback {
	padding-bottom: 20%;
  	transform: rotateY(180deg);
	-webkit-text-size-adjust:none;

}
.sunspace{
	font-size: 12px;
	line-height: 1;
	-webkit-text-size-adjust:none;
}
.suncontent{
	font-size: 18px;
	-webkit-text-size-adjust:none;
}

.textcardsun.open {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 0.1s;
    margin-top: -150px !important;
	opacity: 1;
}
.textcardsun.close {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 2s;
    margin-top: 0px ;
	opacity: 1;
}
.oil{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 100px;
	background-color: transparent;
	outline: none;
	margin-left: 52%;
	margin-top: 19%;
	width: 25%;
	height: 46.3%;
	color: #acd3d2;
}
.textcardoil {
  	position: absolute;
	z-index: 6;
	margin-top: 0%;
	margin-left: 3%;
	width: 77%;
	padding-bottom: 92%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardoil:hover{
	-webkit-filter:brightness(1.2);
}
.oilcard {
	width: 100%;
  	transition: transform 2s;
  	transform-style: preserve-3d;
  	cursor: pointer;
}

.oilfront, .oilback {
	position: absolute;
	display: flex;
	font-size: 20px;
	color: #0B3140;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}

.oilfront {
	padding-bottom: 20%;
}

.oilfimg{
	width: 100%;
	margin-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.oilback {
	padding-bottom: 27.5%;
  	transform: rotateY(180deg);
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-text-size-adjust:none;

}

.oilspace{
	font-size: 52px;
	line-height: 1;
	-webkit-text-size-adjust:none;
}

.oilcontent{
	font-size: 16px;
	line-height: 1;
	-webkit-text-size-adjust:none;
}
.textcardoil.open {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 0.1s;
    margin-top: -150px !important;
	opacity: 1;
}
.textcardoil.close {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 2s;
    margin-top: 0px ;
	opacity: 0;
}
.life{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 100px;
	background-color: transparent;
	outline: none;
	margin-left: 77%;
	margin-top: 19%;
	width: 25%;
	height: 46.3%;
	color: #acd3d2;
}
.textcardlife {
  	position: absolute;
	z-index: 6;
	margin-top: 0%;
	margin-left: 3%;
	width: 77%;
	padding-bottom: 92%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardlife:hover{
	-webkit-filter:brightness(1.2);
}
.lifecard {
  	transition: transform 2s;
  	transform-style: preserve-3d;
  	cursor: pointer;
}

.lifefront, .lifeback {
	position: absolute;
	display: flex;
	font-size: 16px;
	color: #0B3140;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}

.lifefront {
	padding-bottom: 19%;
	

}
.lifefimg{
	width: 85%;
	margin-top: 15%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.lifeback {
	padding-bottom: 10%;
	transform: rotateY(180deg);
	align-items: center;
	text-align: center;
	line-height: 1.5;
	-webkit-text-size-adjust:none;


}
.lifespace{
	font-size: 10px;
	-webkit-text-size-adjust:none;
}

.lifecontent{
	font-size: 18px;
	line-height: 0;
	-webkit-text-size-adjust:none;
}

.textcardlife.open {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 0.1s;
    margin-top: -150px !important;
	opacity: 1;
}
.textcardlife.close {
	-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s,opacity 2s;
    margin-top: 0px ;
	opacity: 1;
}

.bottom{
	position: absolute;
	z-index: 4;
	width: 100%;
	margin-top: 43%;
	margin-left: 0%;
}
.bubble{
	position: absolute;
	z-index: 4;
	margin-left: 80%;
	margin-top: 38%;
	width: 3.4%;
	background-color: transparent;
}
@keyframes b1{
	0%{opacity: 1;}
	49.99%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 0;}
}

@media (min-width: 1280px) and (max-width: 1500px){
	
	.subtitle4{
		font-size: 64px;
	}
	.gas{
		font-size: 76px;
	}
	.gasback{
		font-size: 14px;
		padding-bottom: 20%;
	}
	.gasspace{
		font-size: 12px;
		line-height: 0.8;
	}
	.gascontent{
		font-size: 12px;
	}
	.sun{
		font-size: 76px;
	}
	.sunback{
		font-size: 14px;
		padding-bottom: 27.5%;
	}
	.suncontent{
		font-size: 12px;
	}
	.oil{
		font-size: 76px;
	}
	.oilback{
		font-size: 14px;
		padding-bottom: 22.5%;
	}
	.oilcontent{
		font-size: 12px;
	}
	.life{
		font-size: 76px;
	}
	.lifeback{
		font-size: 12px;
	}
	.lifecontent{
		font-size: 10px;
	}
}

@media (min-width: 960px) and (max-width: 1280px){
	
	.subtitle4{
		font-size: 40px;
	}
	.gas{
		font-size: 56px;
	}
	.gasback{
		font-size: 10px;
	}
	.gasspace{
		font-size: 12px;
		line-height: 0.8;
	}
	.gascontent{
		font-size: 8px;
	}
	.sun{
		font-size: 56px;
	}
	.sunback{
		font-size: 11px;
	}
	.sunspace{
		font-size: 10px;
		line-height: 1;
	}
	.suncontent{
		font-size: 9px;
	}
	.oil{
		font-size: 56px;
	}
	.oilback{
		font-size: 12px;
		padding-bottom: 20%;
	}
	.oilspace{
		font-size: 12px;
		line-height: 1;
	}
	.oilcontent{
		font-size: 10px;
		line-height: 1.2;
	}
	.life{
		font-size: 56px;
	}
	.lifeback{
		font-size: 9px;
		padding-bottom: 5%;
	}
	.lifespace{
		font-size: 8px;
		line-height: 1;
	}
	.lifecontent{
		font-size: 8px;
	}
	
	
}
@media (min-width: 601px) and (max-width: 960px){
	
	.subtitle4{
		font-size: 32px;
	}	
	.gas{
		font-size: 40px;
	}
	.gasfront {
		padding-bottom: 5%;
	}
	.gasback{
		font-size: 8px;
		padding-bottom: 15%;
	}
	.gasspace{
		font-size: 12px;
		line-height: 0.8;
	}
	.gascontent{
		font-size: 6px;
	}
	.sun{
		font-size: 40px;
	}
	.sunback{
		font-size: 8px;
		padding-bottom: 15%;
	}
	.suncontent{
		font-size: 7px;
	}
	.oil{
		font-size: 40px;
	}
	.oilback{
		font-size: 8px;
		padding-bottom: 22.5%;		
	}
	.oilspace{
		font-size: 12px;
		line-height: 1;
	}
	.oilcontent{
		font-size: 8px;
	}
	
	.life{
		font-size: 40px;
	}
	.lifeback{
		font-size: 6px;
		
	}
	.lifespace{
		font-size: 8px;
		line-height: 1;
	}
	.lifecontent{
		font-size: 8px;
	}
}

@media (min-width: 376px) and (max-width: 600px){
	
	.subtitle4{
		font-size: 16px;
	}
	.gas{
		font-size: 22px;
	}
	.gasfront {
		padding-bottom: 0%;
	}
	.gasback{
		font-size: 1px;
		line-height: 1.5;
		padding-bottom: 20%;
	}
	.gasspace{
		font-size: 8px;
		line-height: 0.8;
	}
	.gascontent{
		font-size: 1px;
	}
	.sun{
		font-size: 22px;
	}
	.sunback{
		font-size: 1px;
		padding-bottom: 20%;
	}
	.sunspace{
		font-size: 8px;
		line-height: 0.8;
	}
	.suncontent{
		font-size: 1px;

	}
	.oil{
		font-size: 22px;
	}
	.oilback{
		font-size: 1px;
		padding-bottom: 35%;
	}
	.oilspace{
		font-size: 10px;
		line-height: 1;
	}
	.oilcontent{
		font-size: 1px;
	}
	.life{
		font-size: 22px;
	}
	.lifeback{
		font-size: 1px;
		
	}
	.lifespace{
		font-size: 1px;
		line-height: 0.5;
	}
	.lifecontent{
		font-size: 1px;
		
	}
		
}

@media (min-width: 100px) and (max-width: 375px){
	
	.subtitle4{
		font-size: 16px;
	}
	.gas{
		font-size: 20px;
	}
	.gasfront {
	padding-bottom: 0%;
	}
	.gasback{
		font-size: 2px;
		padding-bottom: 17.5%;
		
	}
	.gasspace{
		font-size: 8px;
		line-height: 1;
	}
	.gascontent{
		font-size: 1px;
	}
	.sun{
		font-size: 20px;
	}
	
	.sunback{
		font-size: 1px;
		padding-bottom: 15%;
	}
	.sunspace{
		font-size: 8px;
		line-height: 0.6;
		-webkit-text-size-adjust:none;
	}
	.suncontent{
		font-size: 1px;
	}
	
	.oil{
		font-size: 20px;
	}
	
	.oilback{
		font-size: 1px;
		line-height: 1;
		padding-bottom: 40%;
		

	}
	.oilspace{
		font-size: 10px;
		line-height: 1;
	}

	.oilcontent{
		font-size: 1px;
	}
	.life{
		font-size: 20px;
	}
	
	.lifeback{
		line-height: 1.2;
		font-size: 1px;
		padding-bottom: 12.5%;
	}
	.lifespace{
		font-size: 1px;
		line-height: 0.5;
	}
	.lifecontent{
		font-size: 1px;
		line-height: 1.2;
	}
	
}