@charset "utf-8";
.view2{
	position: absolute;
	z-index: 5;
	margin-top: 56%;
	left: 0%;
	width: 100vw;
	padding-bottom: 56%;
	background-color: transparent;
	opacity: 1;
		
}
.view21Mobile{
	position: absolute;
	z-index: 6;
	margin-top: 56%;
	left: 0%;
	width: 100vw;
	padding-bottom: 56%;
	background-color: transparent;
	opacity: 1;
	display:none;
		
}
.view22Mobile{
	position: absolute;
	z-index: 6;
	margin-top: 112%;
	left: 0%;
	width: 100vw;
	padding-bottom: 56%;
	background-color: transparent;
	opacity: 1;
	display:none;
	border: 2px red solid;
		
}
.view23Mobile{
	position: absolute;
	z-index: 6;
	margin-top: 168%;
	left: 0%;
	width: 100vw;
	padding-bottom: 56%;
	background-color: transparent;
	opacity: 1;
	display:none;
	border: 2px red solid;
		
}
.bg2{
	position: absolute;
	z-index: -1;
	left: 0%;
	width: 100%;
	opacity: 1;
	margin-top: 56%;
	padding-bottom: 56%;

}
.bg22Moblie{
	position: absolute;
	z-index: 1;
	left: 0%;
	width: 100%;
	opacity: 1;
	margin-top: 168%;
	padding-bottom: 0%;
	display: none;
	border: 2px solid yellow;
}
.CO2{
	color: #FFFFFF;
	position: absolute;
	background-color: transparent;
	outline: none;
	font-family: Gen Jyuu Gothic;
	z-index: 2;
	font-size: 16.67rem;
	width: 20.83%;
	height: 27.78%;
	margin-top: 5.11%;
	margin-left: 4.17%;
	font-weight: bold;
}
.CO2Mobile{
	color: #FFFFFF;
	position: absolute;
	background-color: transparent;
	outline: none;
	font-family: Gen Jyuu Gothic;
	z-index: 2;
	font-size: 33.34rem;
	width: 20.83%;
	height: 27.78%;
	margin-top: 5.11%;
	margin-left: 4.17%;
	font-weight: bold;
}
.Carbon{
	position: absolute;
	margin-left: 0%;
	margin-top: 0;
}
.Two{
	
	color: #FFFFFF;
	position: absolute;
	z-index: 0;
	font-size: 5rem;
	margin-top: 35%;
	margin-left: 75%;
	font-weight: 600;

}
.TwoMobile{
	color: #FFFFFF;
	position: absolute;
	z-index: 0;
	font-size: 12rem;
	margin-top: 35%;
	margin-left: 75%;
	font-weight: 600;
}

.CO2infor{
	position: absolute;
	z-index: 4;
	margin-top: 8%;
	font-size: 1.66rem;
	color: #FFFFFF;
	margin-left: 32.55%;
	height: 27.78%;
	width: 50%;
	background-color: transparent;
	opacity: 1;
	line-height: 1;
	font-weight: normal;
	-webkit-text-size-adjust: none;

}
.CO2inforMobile{
	position: absolute;
	z-index: 4;
	margin-top: 20%;
	font-size: 7.5rem;
	color: #FFFFFF;
	margin-left: 8.17%;
	height: 27.78%;
	width: 80%;
	background-color: transparent;
	opacity: 1;
	line-height: 1;
	font-weight: normal;
	-webkit-text-size-adjust: none;
}
.CO2ani{
	position: absolute;
	margin-left: 55%;
	margin-top: -5%;
	width: 37.5%;
	padding-bottom: 10%;
}
.CO2aniMobile{
	position: absolute;
	margin-left: 70%;
	margin-top: -5%;
	width: 37.5%;
	padding-bottom: 10%;
}
.C,.O1,.O2,.price1,.price2{
	position: absolute;
	font-size: 3.125rem;
	font-weight: 600;
	color: #ffffff;
}
.CMobile,.O1Mobile,.O2Mobile,.price1Mobile,.price2Mobile{
	position: absolute;
	font-size: 15rem;
	font-weight: 600;
	color: #ffffff;
}
.O1{
	margin-left: -25%;
	margin-top: 10%;
	animation: Oa1;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	
}
.O1Mobile{
	margin-left: -25%;
	margin-top: 10%;
	animation: Oa1;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	
}
.O2{
	margin-left: 25%;
	margin-top: 10%;
	animation: Oa2;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.O2Mobile{
	margin-left: 25%;
	margin-top: 10%;
	animation: Oa2;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.price1{
	margin-left: -10%;
	margin-top: 5%;
	transform: rotate(-30deg);
	animation: Pa;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.price1Mobile{
	margin-left: -10%;
	margin-top: 5%;
	transform: rotate(-30deg);
	animation: Pa;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.price2{
	margin-left: 10%;
	margin-top: 5%;
	transform: rotate(30deg);
	animation: Pa;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.price2Mobile{
	margin-left: 10%;
	margin-top: 5%;
	transform: rotate(30deg);
	animation: Pa;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
@keyframes Oa1{
	0%{margin-left: -25%; margin-top: 10%;}
	15%{margin-left: -20%; margin-top: 7%;}
	100%{margin-left: -20%; margin-top: 7%;}

}
@keyframes Oa2{
	0%{margin-left: 25%; margin-top: 10%;}
	15%{margin-left: 20%; margin-top: 7%;}
	100%{margin-left: 20%; margin-top: 7%;}
}
@keyframes Pa{
	0%{opacity: 0;}
	7.5%{opacity: 0.4;}
	15%{opacity: 1;}
	100%{opacity: 1;}
	
}

.CO2coverline{
	z-index: 6;
	position: absolute;
	width: 0.5%;
	height: 16.67%;
	border-radius: 5px;
	background-color: #fff;
	margin-top: 9%;
	margin-left: 28%;
}

.CO2coverlineMobile{
	z-index: 6;
	position: absolute;
	width: 0.5%;
	height: 30.67%;
	border-radius: 5px;
	background-color: #fff;
	margin-top: 21%;
	margin-left: 4.17%;
}


.Chemicalpro{
	color: #ffffff;
	position: absolute;
	z-index: 3;
	background-color: transparent;
	outline: none;
	border: 0px;
	width: 40.83%;
	font-family: Gen Jyuu Gothic;
	font-size: 10rem;
	margin-top: 23%;
	margin-left: 4.17%;
	font-weight: bold;
}
.Chemicalpro-Mobile{
	color: #FFFFFF;
	position: absolute;
	background-color: transparent;
	outline: none;
	font-family: Gen Jyuu Gothic;
	z-index: 2;
	font-size: 25rem;
	width: 30.83%;
	height: 27.78%;
	margin-top: 5.11%;
	margin-left: 4.17%;
	font-weight: bold;
}
.Chemicalproinfor{
	position: absolute;
	z-index: 2;
	margin-top: 25%;
	margin-left: 44.27%;
	font-size: 1.66rem;
	color: #ffffff;
	height: 18.52%;
	width: 50%;
	background-color: transparent;
	opacity: 1;
	perspective: 1000px;
	font-weight: normal;
	line-height: 1.2;
	-webkit-text-size-adjust: none ;

}
.Chemicalproinfor-Mobile{
	position: absolute;
	z-index: 4;
	margin-top: 20%;
	font-size: 7.5rem;
	color: #FFFFFF;
	margin-left: 8.17%;
	height: 27.78%;
	width: 70%;
	background-color: transparent;
	opacity: 1;
	line-height: 1;
	font-weight: normal;
	-webkit-text-size-adjust: none;

}
.Chemicalproinfor2{
	position: absolute;
	width: 20%;
	height: 15%;
	margin-top: 0%;
	margin-left: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-size-adjust: none ;

}
.Chemicalproinfor2-Mobile{
	position: absolute;
	width: 20%;
	height: 15%;
	margin-top: 0%;
	margin-left: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-size-adjust: none ;

}
.nocolor{
	position: absolute;
	z-index: 2;
	margin-left: 15%;
	margin-top: -7.5%;
	width: 20.85%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.nocolor-Mobile{
	position: absolute;
	z-index: 2;
	margin-left: 20%;
	margin-top: -7.5%;
	width: 20.85%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.nocolortext{
	position: absolute;
	width: 100%;
	height: 60%;
	margin-top: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-size-adjust:none;


}

.nocolortext{
	position: absolute;
	width: 100%;
	height: 60%;
	margin-top: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-size-adjust:none;


}
.noassist{
	position: absolute;
	z-index: 2;
	margin-left: 30%;
	margin-top: -7.5%;
	width: 16.68%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-size-adjust:none;


	
}
.noassist-Mobile{
	position: absolute;
	z-index: 2;
	margin-left: 35%;
	margin-top: -7.5%;
	width: 16.68%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-size-adjust:none;


	
}
.noassisttext{
	position: absolute;
	width: 100%;
	height: 60%;
	margin-top: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-size-adjust:none;


}
.noburn{
	position: absolute;
	z-index: 2;
	margin-left: 45%;
	margin-top: -7.5%;
	width: 16.68%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.noburn-Mobile{
	position: absolute;
	z-index: 2;
	margin-left: 50%;
	margin-top: -7.5%;
	width: 16.68%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.noburntext{
	position: absolute;
	width: 100%;
	height: 60%;
	margin-top: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Chemicalcoverline{
	z-index: 3;
	position: absolute;
	width: 0.5%;
	height: 16.67%;
	border-radius: 10px;
	background-color: #fff;
	margin-top: 25%;
	margin-left: 40%;
}
.Chemicalcoverline-Mobile{
	z-index: 6;
	position: absolute;
	width: 0.5%;
	height: 30.67%;
	border-radius: 5px;
	background-color: #fff;
	margin-top: 21%;
	margin-left: 4.17%;
}
.Proportion{
	color: #ffffff;
	position: absolute;
	z-index: 3;
	background-color: transparent;
	width: 40.83%;
	outline: none;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-size: 16.67rem;
	margin-top: 36%;
	margin-left: 4.17%;
	font-weight: bold;
}

.Proportion-Mobile{
	color: #FFFFFF;
	position: absolute;
	background-color: transparent;
	outline: none;
	font-family: Gen Jyuu Gothic;
	z-index: 2;
	font-size: 25rem;
	width: 30.83%;
	height: 27.78%;
	margin-top: 5.11%;
	margin-left: 4.17%;
	font-weight: bold;
}
.Proportioninfor{
	position: absolute;
	z-index: 3;
	line-height: 2;
	margin-top: 37.5%;
	margin-left: 45%;
	height: 18.52%;
	width: 50%;
	color: #ffffff;
	font-size: 1.8rem;
	background-color: transparent;
	opacity: 1;
	-webkit-text-size-adjust:none;

  	
}
.Proportioninfor-Mobile{
	position: absolute;
	z-index: 4;
	margin-top: 20%;
	font-size: 7.2rem;
	color: #FFFFFF;
	margin-left: 8.17%;
	height: 27.78%;
	width: 70%;
	background-color: transparent;
	opacity: 1;
	line-height: 1;
	font-weight: normal;
	-webkit-text-size-adjust: none;

  	
}
.Pieline{
	position: absolute;
	z-index: 2;
	margin-top: 8%;
	margin-left: 3.2%;
	width: 2.8%;
	height: 10%;
	border: solid 2px transparent;
	border-image: linear-gradient(143deg, #FFFFFF 50%, transparent 50%);
	border-image-slice: 1;
}
.Pieline-Mobile{
	position: absolute;
	z-index: 2;
	margin-top: 2.5%;
	margin-left: 9%;
	width: 2.8%;
	height: 10%;
	border: solid 1px transparent;
	border-image: linear-gradient(143deg, #FFFFFF 50%, transparent 50%);
	border-image-slice: 1;
}
.Pietext{
	position: absolute;
	z-index: 2;
	margin-top: 6%;
	margin-left: 7.5%;
	width: 5%;
	height: 15%;
	font-size: 1.66rem;
}
.Pietext-Mobile{
	position: absolute;
	z-index: 2;
	margin-top: 2.5%;
	margin-left: 12.5%;
	width: 5%;
	height: 15%;
	font-size: 3rem;
}

.Two1{
	font-size: 1.66rem;
}
.Two1-Mobile{
	font-size: 2rem;
}
.Piechart{
	margin-top:10%;
	margin-left:-5%;
	position:absolute;
	z-index: 4;
	width:18%;
	overflow:hidden;
	border-radius:0 80px 80px 0;
	animation:a 3s linear;
    animation-fill-mode: forwards;
	
}
.Piechart-Mobile{
	margin-top:2.5%;
	margin-left:0%;
	position:absolute;
	z-index: 4;
	width:20%;
	overflow:hidden;
	border-radius:0 80px 80px 0;
	animation:a 3s linear;
    animation-fill-mode: forwards;
	
}

.Proportioncoverline{
	z-index: 3;
	position: absolute;
	width: 0.5%;
	height: 16.67%;
	border-radius: 10px;
	background-color: #fff;
	top: 70%;
	left: 40%;
}
.Proportioncoverline-Mobile{
	z-index: 6;
	position: absolute;
	width: 0.5%;
	height: 30.67%;
	border-radius: 5px;
	background-color: #fff;
	margin-top: 21%;
	margin-left: 4.17%;
}
.fish1{
	position: absolute;
	z-index: 4;
	margin-left: 90%;
	width: 10.2%;
	margin-top: 50.16%;
	animation-name:f1;
	animation-duration:28s;
	animation-iteration-count: infinite;
	opacity: 0.6;
}
@keyframes f1{
	0%{	margin-left: 90%; margin-top: 50.16%;opacity: 0.6;}
	49.99%{margin-left: -10%; margin-top: 52.16%; transform: scaleX(1);opacity: 0.6;}
	50%{transform: scaleX(-1);opacity: 0;}
	50.01%{margin-left: -10%;margin-top: 52.16%; opacity: 0.6;}
	100%{margin-left: 90%; margin-top: 50.16%;transform:  scaleX(-1);}
}

@media screen and (min-device-width: 376px) and (max-device-width: 600px){
	
	.view2{
		display: none;
	}
	.view21Mobile{
		display: block;
	}
	
	.view22Mobile{
		display: block;
	}
	.bg2-2Moblie{
		display: block;
	}
	.view23Mobile{
		display: block;
	}
	.view3{
		display: none;
	}
	.view4{
		display: none;
	}
	
}

@media screen and (min-device-width: 100px) and (max-device-width: 375px){
	
	.view2{
		display: none;
	}
	.view21Mobile{
		display: block;
	}
	.view22Mobile{
		display: block;
	}
	.bg22Moblie{
		display: block;
	}
	.view23Mobile{
		display: block;
	}
	.view3{
		display: none;
	}
	.view4{
		display: none;
	}
}
