@charset "utf-8";

.view4{
	position: absolute;
	z-index: 5;
	margin-top: 168%;
	left: 0%;
	width: 100vw;
	padding-bottom: 56%;
	background-color: transparent;
	opacity: 1;
	overflow: hidden;
	display: block;

	
}
.view4-1Mobile{
	position: absolute;
	z-index: 5;
	margin-top: 392%;
	left: 0%;
	width: 100vw;
	padding-bottom: 112%;
	background-color: transparent;
	overflow: hidden;
	opacity: 1;
	display: none;
	
}
.view4-2Mobile{
	position: absolute;
	z-index: 5;
	margin-top: 504%;
	left: 0%;
	width: 100vw;
	padding-bottom: 112%;
	background-color: transparent;
	overflow: hidden;
	opacity: 1;
	display: none;
}
.bg4{
	position: absolute;
	z-index: -1;
	left: 0%;
	width: 100%;
	opacity: 1;
	margin-top: 168%;
	padding-bottom: 56%;

}
.bg4-1-1Mobile{
	position: absolute;
	z-index: 1;
	margin-top: 392%;
	left: 0%;
	width: 100%;
	opacity: 1;
	display:none;
	border: 2px green solid;
}
.bg4-1-2Mobile{
	position: absolute;
	z-index: 1;
	margin-top: 448%;
	left: 0%;
	width: 100%;
	opacity: 1;
	display:none;
	border: 2px green solid;
}
.bg4-2-1Mobile{
	position: absolute;
	z-index: 1;
	margin-top: 504%;
	left: 0%;
	width: 100%;
	opacity: 1;
	display:none;
	border: 2px green solid;
}
.bg4-2-2Mobile{
	position: absolute;
	z-index: 1;
	margin-top: 560%;
	left: 0%;
	width: 100%;
	opacity: 1;
	display:none;
	border: 2px green solid;
}
.grassleft{
	position: absolute;
	z-index: 2;
	margin-left: 9.38%;
	margin-top: 48%;
	width: 5%;
	background-color: transparent;
	
}
.grasscenterleft{
	position: absolute;
	z-index: 2;
	margin-left: 28%;
	margin-top: 44%;
	width: 10%;
	background-color: transparent;
	
}
.grasscenter{
	position: absolute;
	z-index: 2;
	margin-left: 55%;
	margin-top: 48%;
	width: 6%;
	background-color: transparent;
}
.grasscenterrigt{
	position: absolute;
	z-index: 2;
	margin-left: 70%;
	margin-top: 45%;
	width: 6%;
	background-color: transparent;
}
.grassright{
	position: absolute;
	z-index: 2;
	margin-left: 91%;
	margin-top: 47%;
	width: 6%;
	background-color: transparent;
}
.subtitle4{
	position: absolute;
	z-index: 5;
	width: 100%;
	font-size: 5.8rem;
	margin-left: 0%;
	margin-top: 6%;
	color: #c98c24;
	font-weight: bold;
	text-align: center;
}
.subtitle4-Mobile{
	position: absolute;
	z-index: 5;
	width: 100%;
	font-size: 10rem;
	margin-left: 0%;
	margin-top: 4%;
	color: #c98c24;
	font-weight: bold;
	text-align: center;
}
.gas{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 9.66rem;
	background-color: transparent;
	outline: none;
	margin-left: 0%;
	margin-top: 19%;
	width: 25%;
	height: 55.3%;
	color: #acd3d2;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
	
	
}
.gas-Mobile{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 9.66rem;
	background-color: transparent;
	outline: none;
	margin-left: 0%;
	margin-top: 15%;
	width: 100%;
	height: 70%;
	color: #acd3d2;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
	
	
}
.gas-Mobile t{
	font-size: 30rem;
}

.textcardgas {
  	position: absolute;
	z-index: 6;
	margin-top: 30%;
	margin-left: 0%;
	width: 77%;
	height: 75%;
	opacity: 1;
  	perspective: 1000px;



}
.textcardgas-Mobile {
  	position: absolute;
	z-index: 6;
	margin-top: 20%;
	margin-left: 0%;
	width: 50%;
	height: 80%;
	opacity: 1;
  	perspective: 1000px;



}
.textcardgas:hover{
	-webkit-filter:brightness(1.2);


}
.textcardgas-Mobile:hover{
	-webkit-filter:brightness(1.2);


}
.card {
	width: 100%;
	height: 100%;
  	-webkit-transition: transform 2s;
  	-webkit-transform-style: preserve-3d;
  	cursor: pointer;
	
}
#gascardPC {
	
	
}
#gascardMobile {
	width: 100%;
	height: 100%;
  	-webkit-transition: transform 2s;
  	-webkit-transform-style: preserve-3d;
  	cursor: pointer;
	
}

.gasfront, .gasback {
	position: absolute;
	display: flex;
	font-size: 1.5rem;
	color: #0B3140;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;
	


}

.gasfront-Mobile, .gasback-Mobile {
	position: absolute;
	display: flex;
	font-size: 6rem;
	color: #0B3140;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;
	


}


.gasfimg{
	width: 100%;
	margin-top: 10%;
}
.gasfimg-Mobile{
	width: 100%;
	margin-top: 10%;
}

.gasback {
	
  	transform: rotateY(180deg);
	line-height: 1.2;
	-webkit-text-size-adjust:none;	
	
}
.gasback-Mobile {
	
  	transform: rotateY(180deg);
	line-height: 1.2;
	-webkit-text-size-adjust:none;	
	
}

.gascontent{
	font-size: 1.33rem;
	text-align: center;
	-webkit-text-size-adjust:none;
}
.gascontent-Mobile{
	font-size: 1.33rem;
	text-align: center;
	-webkit-text-size-adjust:none;
}



.sun{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 9.66rem;
	background-color: transparent;
	outline: none;
	margin-left: 25%;
	margin-top: 19%;
	width: 25%;
	height: 55.3%;
	color: #acd3d2;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
}
.sun-Mobile{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 9.66rem;
	background-color: transparent;
	outline: none;
	margin-left: 25%;
	margin-top: 19%;
	width: 25%;
	height: 55.3%;
	color: #acd3d2;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
}
.textcardsun {
  	position: absolute;
	z-index: 6;
	margin-top: 30%;
	margin-left: 0%;
	width: 77%;
	height: 75%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardsun-Mobile {
  	position: absolute;
	z-index: 6;
	margin-top: 30%;
	margin-left: 0%;
	width: 77%;
	height: 75%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardsun:hover{
	-webkit-filter:brightness(1.2);
}

.sunfront, .sunback {
	position: absolute;
	display: flex;
	font-size: 1.67rem;
	color: #0B3140;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}
.sunfront-Mobile, .sunback-Mobile {
	position: absolute;
	display: flex;
	font-size: 1.67rem;
	color: #0B3140;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}

.sunfront {
	
}
.sunfront-Mobile {
	
}

.sunfimg{
	width: 100%;
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sunfimg-Mobile{
	width: 100%;
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sunback {
  	transform: rotateY(180deg);
	-webkit-text-size-adjust:none;

}

.sunback-Mobile {
  	transform: rotateY(180deg);
	-webkit-text-size-adjust:none;

}
.suncontent{
	font-size: 1.5rem;
	-webkit-text-size-adjust:none;
}

.suncontent-Mobile{
	font-size: 1.5rem;
	-webkit-text-size-adjust:none;
}


.oil{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 9.66rem;
	background-color: transparent;
	outline: none;
	margin-left: 50%;
	margin-top: 19%;
	width: 25%;
	height: 55.3%;
	color: #acd3d2;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
}
.textcardoil {
  	position: absolute;
	z-index: 6;
	margin-top: 30%;
	margin-left: 0%;
	width: 77%;
	height: 75%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardoil:hover{
	-webkit-filter:brightness(1.2);
}
.oilcard {
	width: 100%;
	height: 100%;
  	-webkit-transition: transform 2s;
  	-webkit-transform-style: preserve-3d;
  	cursor: pointer;
}

.oilfront, .oilback {
	position: absolute;
	display: flex;
	font-size: 1.67rem;
	color: #0B3140;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}

.oilfront {
}

.oilfimg{
	width: 100%;
	margin-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.oilback {
  	transform: rotateY(180deg);
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-text-size-adjust:none;

}


.oilcontent{
	font-size: 1.33rem;
	line-height: 1;
	-webkit-text-size-adjust:none;
}

.life{
	position: absolute;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	z-index: 5;
	font-size: 9.66rem;
	background-color: transparent;
	outline: none;
	margin-left: 75%;
	margin-top: 19%;
	width: 25%;
	height: 55.3%;
	color: #acd3d2;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
}
.textcardlife {
  	position: absolute;
	z-index: 6;
	margin-top: 30%;
	margin-left: 0%;
	width: 77%;
	height: 75%;
	opacity: 1;
  	perspective: 1000px;
}
.textcardlife:hover{
	-webkit-filter:brightness(1.2);
}
.lifecard {
	width: 100%;
	height: 100%;
  	-webkit-transition: transform 2s;
  	-webkit-transform-style: preserve-3d;
  	cursor: pointer;
}

.lifefront, .lifeback {
	position: absolute;
	display: flex;
	font-size: 1.33rem;
	color: #0B3140;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
  	background-color: rgba(172,211,210,0.95);
	overflow: hidden;

}

.lifefront {
	

}
.lifefimg{
	width: 85%;
	margin-top: 15%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.lifeback {
	transform: rotateY(180deg);
	align-items: center;
	text-align: center;
	line-height: 1.5;
	-webkit-text-size-adjust:none;


}


.lifecontent{
	font-size: 1.5rem;
	line-height: 0;
	-webkit-text-size-adjust:none;
}



.bottom{
	position: absolute;
	z-index: 4;
	width: 100%;
	margin-top: 43%;
	margin-left: 0%;
}
.bubble{
	position: absolute;
	z-index: 4;
	margin-left: 80%;
	margin-top: 38%;
	width: 3.4%;
	background-color: transparent;
}
@keyframes b1{
	0%{opacity: 1;}
	49.99%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 0;}
}
@media (min-device-width: 376px) and (max-device-width: 600px){
	
	.view4{
		display: none;
	}
	.view4-1Mobile{
		display: block;
	}
	.view4-2Mobile{
		display: block;
	}
	.bg4-1-1Mobile{
		display: block;
	}
	.bg4-1-2Mobile{
		display: block;
	}
	.bg4-2-1Mobile{
		display: block;
	}
	.bg4-2-2Mobile{
		display: block;
	}
	
}

@media (min-device-width: 100px) and (max-device-width: 375px){
	
	.view4{
		display: none;
	}
	.view4-1Mobile{
		display: block;
	}
	.view4-2Mobile{
		display: block;
	}
	.bg4-1-1Mobile{
		display: block;
	}
	.bg4-1-2Mobile{
		display: block;
	}
	.bg4-2-1Mobile{
		display: block;
	}
	.bg4-2-2Mobile{
		display: block;
	}
}
