@charset "utf-8";

.view3{
	position: absolute;
	z-index: 5;
	margin-top: 112%;
	left: 0%;
	width: 100vw;
	padding-bottom: 56%;
	background-color: transparent;
	overflow: hidden;
	opacity: 1;
	display: block;
	
}
.bg3{
	position: absolute;
	z-index: -1;
	left: 0%;
	width: 100%;
	opacity: 1;
	margin-top: 112%;
	padding-bottom: 56%;
}
/*.rectangle{
	position: absolute;
	z-index: 8;
	width: 1.71%;
	height: 20.37%;
	margin-left: 3.49%;
	margin-top: 7.4%;
	background-color: red;
}*/
.subtitle3{
	position: absolute;
	z-index: 3;
	margin-left: 7.4%;
	magin-top: 1.85%;
	color: #e98c24;
	font-size: 12.5rem;
	font-weight: bold;
}
.burn{
	position: absolute;
	z-index: 3;
	background-color: transparent;
	outline: none;
	font-family: Gen Jyuu Gothic;
	font-weight: bold;
	font-size: 16.67rem;
	margin-left: 9.5%;
	margin-top: 15%;
	color: #ffffff;
	width: 450px;
	height: 300px;
}
.burninfor{
	position: absolute;
	z-index: 3;
	background-color: transparent;
	color: #ffffff;
	font-size: 2.67rem;
	outline: none;
	width: 25%;
	height: 10%;
	margin-left: 5%;
	margin-top: 30%;
	opacity: 1;
	font-weight: normal;
	text-align: center;
	-webkit-text-size-adjust:none;
	
	
}

.breath{
	position: absolute;
	z-index: 3;
	background-color: transparent;
	font-weight: bold;
	outline: none;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-size: 16.67rem;
	margin-left: 40.5%;
	margin-top: 15%;
	color: #ffffff;
	
}
.breathinfor{
	position: absolute;
	z-index: 1;
	background-color: transparent;
	color: #ffffff;
	font-size: 2.67rem;
	outline: none;
	width: 25%;
	height: 10%;
	margin-left: 35%;
	margin-top: 30%;
	opacity: 1;
	font-weight: normal;
	text-align: center;
	-webkit-text-size-adjust:none;

	
}

.fermentation{
	position: absolute;
	z-index: 3;
	font-weight: bold;
	background-color: transparent;
	outline: none;
	border: 0px;
	font-family: Gen Jyuu Gothic;
	font-size: 16.67rem;
	margin-left: 72.5%;
	margin-top: 15%;
	color: #ffffff;
}
.fermentationinfor{
	position: absolute;
	z-index: 3;
	background-color: transparent;
	color: #ffffff;
	font-size: 2.67rem;
	outline: none;
	width: 25%;
	height: 10%;
	margin-left: 68%;
	margin-top: 30%;
	opacity: 1;
	font-weight: normal;
	text-align: center;
	-webkit-text-size-adjust:none;

	
}

@media (min-width: 376px) and (max-width: 600px){
	
	
	
	
}

@media (min-width: 100px) and (max-width: 375px){
	
	
		
	
}
