@charset "utf-8";
.bg5{
	position: absolute;
	z-index: 9;
	left: 0%;
	width: 100%;
	margin-top: 252%;
	padding-bottom: 0%;
	opacity: 0;
	
}


.references{
	position: absolute;
	z-index: 1;
	font-size: 5rem;
	margin-top: 8%;
	margin-left: 0%;
	width: 100%;
	text-align: center;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-shadow: 2px 3px 6px #FFFFFF22;
	opacity: 1;
}
.rectangle{
	position: absolute;
	background-color: transparent;
	z-index: 1;
	margin-top: 15%;
	margin-left: 8.44%;
	width: 83%;
	height: 62%;
	border: 1px solid #D1D9E4;
	opacity: 1;
}
.Part1{
	position: absolute;
	margin-left: 0%;
	width: 33.3%;
	padding-bottom: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #ACD3D2;
}
.CO2temp{
	position: absolute;
	margin-top:  30%;
	font-size: 1.66rem;

}
.IceMelting{
	position: absolute;
	margin-top: 80%;
	font-size: 1.66rem;
}
.HeatWaveinfor{
	position: absolute;
	margin-top: 130%;
	font-size: 1.66rem;
}
.FireForestinfor{
	position: absolute;
	margin-top: 180%;
	font-size: 1.66rem;
}
.Part2{
	position: absolute;
	margin-left: 33.3%;
	width: 33.3%;
	padding-bottom: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #ACD3D2;
}
.Extinction{
	position: absolute;
	margin-top:  30%;
	font-size: 1.66rem;

}
.SeaSour{
	position: absolute;
	margin-top:  80%;
	font-size: 1.66rem;
}
.ExtremeWeather{
	position: absolute;
	margin-top:  130%;
	font-size: 1.66rem;
}
.DiseaseRage{
	position: absolute;
	margin-top:  180%;
	font-size: 1.66rem;
}
.Part3{
	position: absolute;
	margin-left: 66.6%;
	width: 33.3%;
	padding-bottom: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #ACD3D2;

}
.FoodLess{
	position: absolute;
	margin-top:  30%;
	font-size: 1.66rem;
}
.EconomicAffect{
	position: absolute;
	margin-top:  80%;
	font-size: 1.66rem;
}
.Other{
	position: absolute;
	margin-top:  130%;
	font-size: 1.66rem;
}
@media (min-device-width: 1280px) and (max-device-width: 1500px){
	
	
}

@media (min-device-width: 960px) and (max-device-width: 1280px){
	
	
}
@media (min-device-width: 600px) and (max-device-width: 960px){
	
		
}

@media (min-device-width: 376px) and (max-device-width: 600px){
	
	.bg5{
		display: none;
	}
	
}

@media (min-device-width: 100px) and (max-device-width: 375px){
	
	.bg5{
		display: none;
	}
}