@charset "utf-8";
@font-face {
	font-family: Gen Jyuu Gothic ;
    src: url(../../font/GenJyuuGothic-Normal.ttf);
}
html{
	scroll-behavior: smooth;
	font-family: Gen Jyuu Gothic ;

}
body{
	font-family: Gen Jyuu Gothic ;
	margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;

}

.allpg{
	font-family: Gen Jyuu Gothic ;
	font-weight: normal;
	width: 1920px;
}

.bar{
	position: absolute;
	z-index: 2;
	font-size: 28px;
	left: 535px;
	top: 40px;
	
}
.active:hover{
	
	border-bottom: solid 5px transparent;
	border-image: linear-gradient(90deg, rgba(255, 255, 255, 1)10%, rgba(255, 255, 255, 0)95%);
	border-image-slice: 1;
	
}
button{
	font-family: Gen Jyuu Gothic ;
}

.view1{
	font-family: Gen Jyuu Gothic ;
	width: 1920px;
	height: 100%;
}
.view2{
	font-family: Gen Jyuu Gothic ;
	width: 1920px;
	height: 100%;
}
.view3{
	font-family: Gen Jyuu Gothic ;
	width: 1920px;
	height: 100%;
}
.view4{
	font-family: Gen Jyuu Gothic ;
	width: 1920px;
	height: 100%;
}
.view5{
	font-family: Gen Jyuu Gothic ;
	width: 1920px;
	height: 100%;
	overflow: hidden;
}

#myBtn {
  	
  	position: fixed; /* Fixed/sticky position */
  	bottom: 20px; /* Place the button at the bottom of the page */
  	right: 30px; /* Place the button 30px from the right */
  	z-index: 99; /* Make sure it does not overlap */
	width: 80px;
	height: 60px;
  	border: none; /* Remove borders */
  	outline: none; /* Remove outline */
  	background-color: #333; /* Set a background color */
	opacity: 0;
  	cursor: pointer; /* Add a mouse pointer on hover */
  	padding: 15px; /* Some padding */
  	border-radius: 10px; /* Rounded corners */
	display: flex;
	align-items: center;
	justify-content: center;
}

#myBtn:hover {
  -webkit-filter:brightness(1.2); /* Add a dark-grey background on hover */
}