@charset "utf-8";
@font-face {
	font-family: Gen Jyuu Gothic ;
    src: url(../../font/GenJyuuGothic-Normal.ttf);

}
html{
	font-family: Gen Jyuu Gothic ;
	scroll-behavior: smooth;
	font-size: 12px;
	overflow-x: hidden;
}

body{
	overflow-x: hidden;
	font-family: Gen Jyuu Gothic ;
	margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
	background-color: #FFF;

}
video{
	width: 100%;
	height: 100%;
	outline:none;

}
iframe{
	width: 100%;
	height: 100%;
	outline:none;

}
.allpg{
	position: absolute;
	z-index: 1;
	font-family: Gen Jyuu Gothic ;
	font-weight: normal;
	width: 100%;
	padding-bottom: 224%;
	overflow: hidden;
}
.myBtn {
  	
  	position: fixed; /* Fixed/sticky position */
  	margin-top: 2%; /* Place the button at the bottom of the page */
  	margin-left: 92.5%; /* Place the button 30px from the right */
  	z-index: 30; /* Make sure it does not overlap */
	width: 5%;
	padding-bottom: 5%;
	border-radius: 50%;
  	border: none; /* Remove borders */
  	outline: none; /* Remove outline */
  	background-color: #fff; /* Set a background color */
	opacity: 0;
  
	transition: background-color 200ms,transform 1s; 
	
	
}

.myBtn.open{
	background-color: #f0a550;
	transform: scale(120);
	user-select: none;	
	
}



.MenuContent{
	z-index: 0;
	position: fixed;
	margin-left: 45%;
	margin-top: 5%;
	width: 40%;
	padding-bottom: 30%;
	opacity: 0;
	text-align: right;
	transition: 1s;
}
.MenuContent.open{
	
	opacity: 1;
}
.MenuBtn{
	
	font-size: 7.5rem;
	font-weight: bolder;
	color: #CE7E24;
	-webkit-text-size-adjust:none;
	
	
}
.MenuBtn:hover{
	color: #184557;
	
}

.Ab{
	font-size: 6rem;
}
.AllCross{
	position: fixed;
	z-index: 35;
	width: 5%;
	padding-bottom: 5%;
	margin-left: 92.5%;
	margin-top: 2%;
	border-radius: 50%;
	opacity: 0;
	
	
}
.Cross1{
	position: fixed;
	z-index: 40;
	margin-top: 1.7%;
	margin-left: 1.125%;
	width: 2.6%;
	padding-bottom: 0.25%;
	border-radius: 3px 3px 3px 3px;
	background-color: #296177;
	box-shadow: 0px 3px 6px #00000029;
	transition: 0.5s; 

}
.Cross1.open{
	margin-top: 2.3%;
	transform: rotate(45deg);
}
.Cross2{
	position: fixed;	
	margin-top: 2.3%;
	margin-left: 1.125%;
	width: 2.6%;
	padding-bottom: 0.25%;
	border-radius: 3px 3px 3px 3px;
	background-color: #296177;
	box-shadow: 0px 3px 6px #00000029;
	transition: 0.5s; 
}
.Cross2.open{
	opacity: 0;
}
.Cross3{
	position: fixed;	
	margin-top: 2.9%;
	margin-left: 1.125%;
	width: 2.6%;
	padding-bottom: 0.25%;
	border-radius: 3px 3px 3px 3px;
	background-color: #296177;
	box-shadow: 0px 3px 6px #00000029;
	transition: 0.5s; 
}
.Cross3.open{
	margin-top: 2.3%;
	transform: rotate(-45deg);
}

.LoadingAnimate{
	position: fixed;
	z-index: 20;
	top: 0%;
	left: 0%;
	width: 100%;
	padding-bottom: 56%;
	background-color: #fff;
	
}

.loadingwrap {
    width: 100%;
    height: 100vh; 
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;


}


.l-word {
    position: absolute;
    top: 55%;
    font-size: 28px;
    letter-spacing: 12px;
	text-align: center;
   
}

.circle {
    width: 1%;
    left: 45%;
    top: 45%; 
    background-color: #999;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease ;
	animation-delay: 0.5s;		
}



.circle:nth-child(2) {
    left: 50%;
    animation-delay: .2s
}

.circle:nth-child(3) {
    left: 55%;
    animation-delay: .3s
}

@keyframes circle {
    0% {
        top: 45%;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 30%;
    }
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .125);
    position: absolute;
    top: 60px;
    animation: shadow .5s alternate infinite ease;
}



.shadow:nth-child(4) {
    left: 35%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: 70%;
    animation-delay: .3s
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }
    40% {
        transform: scaleX(1);
        opacity: .7;
    }
    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.CountTo100{
	color: #000;
	width: 500px;
	height: 100px;
	font-size: 32px;
}
.VideoTitle{
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
	width: 0%;
	height: 0%;
	font-size: 0rem;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Torch {
	position: absolute;
	z-index: 1;
	margin-left: 81.25%;
	margin-top: 12.5%;
	opacity: 0.25;
  	width: 41.67%;
  	height: 2.5%;
	clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 65%);
	background: linear-gradient(90deg, #FFDE6D 10%, transparent 70%);
  	transform-origin: left;
  	
	animation: rotate 12s infinite linear;
  	display: flex;
  	justify-content: flex-end;
}

@keyframes rotate {
  	0% {
   		transform: perspective(800px) rotateY(-360deg);
		opacity: 0.25;
  	}
  	25% {
    
  	}
	
	70%{
		opacity: 0.25;	
	}
	70.01%{
		opacity: 0.2;
	}
	80%{
		opacity: 0.2;
	}
	80.01%{
		opacity: 0.25;
	}
  	100% {
  		transform: perspective(800px) rotateY(-0deg);
  	}
}

.Torch2 {
	position: absolute;
	z-index: 1;
	margin-left: 81.25%;
	margin-top: 12.5%;
	opacity: 0.25;
  	width: 41.67%;
  	height: 2.5%;
	clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 65%);
	background: linear-gradient(90deg, #FFDE6D 10%, transparent 70%);
  	transform-origin: left;
  	animation: rotate2 12s infinite linear;
  	display: flex;
  	justify-content: flex-end;
}
@keyframes rotate2 {
  	0% {
   		transform: perspective(800px) rotateY(-180deg);
		opacity: 0.25;
  	}
  	
	
	20%{
		opacity: 0.25;	
	}
	20.01%{
		opacity: 0.2;
	}
	30%{
		opacity: 0.2;
	}
	30.01%{
		opacity: 0.25;
	}
  	100% {
  		transform: perspective(800px) rotateY(180deg);
  	}
}
.Shine{
	position: absolute;
	z-index: 10;
	margin-left: 0%;
	margin-top: 0%;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, transparent 35%, #FFDE6D 65%);
	animation: S1 12s infinite linear;
	border: solid 5px green;
}
@keyframes S1 {
  	0% {opacity: 0;}
	
	24.99%{opacity: 0;}
	25%{opacity: 0.2; }
	
	28%{opacity: 0.2;}
	
	32%{opacity: 0;}
  	
	50% {opacity: 0;}
  	
	74.99%{opacity: 0;}
	75%{opacity: 0.2;}
	
	78%{opacity: 0.2;}
	
	82%{opacity: 0;}
  	
	100% {opacity: 0;}
}
.Halo{
	position: absolute;
	z-index: 4;
	margin-left: 0.032%;
	margin-top: 19%;
	width: 99.6%;
  	animation: H1 12s infinite linear;

}

@keyframes H1 {
  	0% {opacity: 0.1;}
  	
	21%{opacity: 0.3;}
	
	25%{opacity: 1;}
	
	30%{opacity: 1;}
	
	32%{opacity: 0.3;}
  	
	50% {opacity: 0.1;}
  	
	71%{opacity: 0.5;}
	
	75%{opacity: 1;}
	
	80%{opacity: 1;}
	
	82%{opacity: 0.3;}
  	
	100% {opacity: 0.1;}
}
.Rock{
	position: absolute;
	z-index: 3;
	margin-left: 0%;
	margin-top: 0%;
}


.bar{
	position: absolute;
	z-index: 2;
	font-size: 2.33rem;
	margin-left: 27.86%;
	margin-top: 2%;
	font-weight: normal;
	-webkit-text-size-adjust:none;
	
}

.active:hover{
	
	border-bottom: solid 5px transparent;
	border-image: linear-gradient(90deg, rgba(255, 255, 255, 1)10%, rgba(255, 255, 255, 0)95%);
	border-image-slice: 1;
	
}
button{
	font-family: Gen Jyuu Gothic ;
	
}

.view1{
	position: absolute;
	z-index: 5;
	margin-left: 0%;
	margin-top: 0%;
	width: 100%;
	padding-bottom: 56%;
	overflow: hidden;
}
.bg1{
	position: absolute;
	z-index: 0;
	margin-left: 0%;
	margin-top: 0%;
	width: 100%;
	background-color: #fff;
}

.P1Title{
	position: absolute;
	z-index: 50;
	margin-left: 8.33%;
	margin-top: 8%;
	color: #ffffff;
	font-size: 13.5rem;
	font-weight: bold;
	line-height: 1.2;

}
.light{
	position: absolute;
	margin-left: 80.35%;
	margin-top: 14.25%;
	z-index: 6;
	width: 1.04%;
	padding-bottom: 1%;
	background-color: #F0BB00;
	opacity: 0.5;
	border-radius: 10px;
}
.view2{
	position: absolute;
	z-index: 6;
	margin-left: 0%;
	margin-top: 56.1%;
	width: 100%;
	padding-bottom: 112%;
}

.FoodAnimation{
	position: absolute;
	z-index: 7;
	margin-left: 29.93%;
	margin-top: 5%;
	width: 40.15%;
	height: 27.09%;
	border-radius: 5%;
	color: transparent;
	font-size: 8.33rem;
	background-color: #0C617B;
	display: flex;
	align-items: center;
	justify-content: center;	
	transition: 1s;

}

.FoodAnimation.open{
	margin-left: 0%;
	margin-top: -56%;
	width: 100%;
	height: 200%;
	background-color: rgba(12,97,123,0);
	
}
.FATitle{
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
	z-index: 2;
	width: 100%;
	height: 100%;
	border-radius: 5%;
	font-size: 8.33rem;
	opacity: 1;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s ,color 0.01s;

}
.FATitle.open{
	width: 100%;
	height: 100%;
	color: transparent;
	font-size: 0rem;
	border-radius: 0%;
	background-color:  rgba(12,97,123,0.98);

}
.FATitle.open:hover{
	color: transparent;

}
.FATitle:hover{
	color: #fff;
}
.Food.open{
	margin-left: 0%;
	margin-top: -210%;
	width: 100%;
	height: 5%;
	font-size: 8rem;
	color: #65B9D3;
	font-weight: bold;
	transition: 2s color 0.1s;
}
.FAVideo{
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
	z-index: 3;
	width: 0%;
	height: 0%;
	align-items: center;
	
}
.FAVideo.open{
	
	margin-top: -150%;
	width: 83.33%;
	height: 20.84%;
	border-radius: 5%;
	
}
.FAText{
	position: absolute;
	z-index: 1;
	width: 0%;
	height: 0%;
	font-size: 0rem;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.FAText.open{
	margin-left: 8.75%;
	margin-top: -50%;
	width: 82.5%;
	height: 100%;
	font-size: 6rem;
	color: #ffffff;
	line-height: 2;
}
.Back{
	position: absolute;
	z-index: 8;
	margin-top: 75%;
	margin-left: 45%;
	width: 10%;
	
	opacity: 0;
}
.LifeAnimation{
	position: absolute;
	z-index: 7;
	margin-left: 29.93%;
	margin-top: 40%;
	width: 40.15%;
	height: 27.09%;
	border-radius: 5%;
	color: transparent;
	background-color: #F78700;
	display: flex;
	align-items: center;
	justify-content: center;	
	transition: 1s;


}
.LifeAnimation.open{
	margin-left: 0%;
	margin-top: -56%;
	width: 100%;
	height: 200%;
	background-color: rgba(247,135,00,0);
}
.LATitle{
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
	z-index: 7;
	width: 100%;
	height: 18.06%;
	border-radius: 5%;
	font-size: 8.33rem;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;


}
.LATitle:hover{
	color: #fff;
	font-style: normal;

}
.LATitle.open{
	width: 100%;
	height: 100%;
	color: transparent;
	font-size: 0rem;
	border-radius: 0%;
	background-color:  rgba(247,135,0,0.98);

}
.LATitle.open:hover{
	color: transparent;

}
.Life.open{
	margin-left: 0%;
	margin-top: -210%;
	width: 100%;
	height: 5%;
	font-size: 8rem;
	color: #6A3C04;
	font-weight: bold;
	transition: 2s color 0.1s;
}
.LAVideo{
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
	z-index: 1;
	width: 0%;
	height: 0%;
	align-items: center;

	
}
.LAVideo.open{
	margin-top: -150%;
	width: 83.33%;
	height: 20.84%;
	border-radius: 5%;

}
.LAText{
	position: absolute;
	z-index: 1;
	width: 0%;
	height: 0%;
	font-size: 0rem;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.LAText.open{
	margin-left: 8.75%;
	margin-top: -50%;
	width: 82.5%;
	height: 100%;
	font-size: 6rem;
	color: #ffffff;
	line-height: 2;
}
.HappyAnimation{
	position: absolute;
	z-index: 7;
	margin-left: 29.93%;
	margin-top: 75%;
	width: 40.15%;
	height: 27.09%;
	border-radius: 5%;
	color: transparent;
	background-color: #B2CE65;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;


}

.HappyAnimation.open{
	margin-left: 0%;
	margin-top: -56%;
	width: 100%;
	height: 200%;
	background-color: rgba(12,97,123,0);
	
}

.HATitle{
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
	z-index: 7;
	width: 100%;
	height: 18.06%;
	border-radius: 5%;
	font-size: 8.33rem;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;


}
.HATitle.open{
	width: 100%;
	height: 100%;
	color: transparent;
	font-size: 0rem;
	border-radius: 0%;
	background-color:  rgba(160,206,101,0.98);
	
}
.HATitle.open:hover{
	color: transparent;

}
.HATitle:hover{
	color: #fff;
	font-style: normal;

}
.Happy.open{
	margin-left: 0%;
	margin-top: -210%;
	width: 100%;
	height: 5%;
	font-size: 8rem;
	color: #5F7622;
	font-weight: bold;
	transition: 2s color 0.1s;
}
.HAVideo{
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
	z-index: 1;
	width: 0%;
	height: 0%;
	align-items: center;

	
}
.HAVideo.open{
	margin-top: -150%;
	width: 83.33%;
	height: 20.84%;
	border-radius: 5%;

}
.HAText{
	position: absolute;
	z-index: 1;
	width: 0%;
	height: 0%;
	font-size: 0rem;
	color: transparent;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.HAText.open{
	margin-left: 8.75%;
	margin-top: -50%;
	width: 82.5%;
	height: 100%;
	font-size: 6rem;
	color: #ffffff;
	line-height: 2;
}
.view3{
	position: absolute;
	z-index: 5;
	margin-left: 0%;
	margin-top: 168%;
	width: 100%;
	padding-bottom: 56%;
	overflow: hidden;
}
.bg3{
	position: absolute;
	z-index: 5;
	margin-left: 0%;
	margin-top: 112%;
}
.references{
	position: absolute;
	z-index: 1;
	font-size: 5rem;
	margin-top: 8%;
	margin-left: 0%;
	width: 100%;
	text-align: center;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-shadow: 2px 3px 6px #FFFFFF22;
	opacity: 1;
}
.rectangle{
	position: absolute;
	background-color: transparent;
	z-index: 1;
	margin-top: 15%;
	margin-left: 8.44%;
	width: 83%;
	height: 62%;
	border: 1px solid #D1D9E4;
	opacity: 1;
}
.Part1{
	position: absolute;
	margin-left: 0%;
	width: 33.3%;
	padding-bottom: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #ACD3D2;
}
.UnderSky{
	position: absolute;
	margin-top: 35%;
	font-size: 2rem;

}

.Part2{
	position: absolute;
	margin-left: 33.3%;
	width: 33.3%;
	padding-bottom: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #ACD3D2;
}
.FutureLab{
	position: absolute;
	margin-top: 40%;
	font-size: 2rem;
}

.Part3{
	position: absolute;
	margin-left: 66.6%;
	width: 33.3%;
	padding-bottom: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #ACD3D2;

}
.HEHO{
	position: absolute;
	margin-top: 40%;
	font-size: 2rem;
}

@media (min-width: 1280px) and (max-width: 1500px){
	
	html{
		font-size: 8px;
	}
	
}

@media (min-width: 960px) and (max-width: 1280px){
	
	html{
		font-size: 6px;
	}
	
}
@media (min-width: 600px) and (max-width: 960px){
	
	
	html{
		font-size: 4px;
	}
	
}

@media (min-width: 376px) and (max-width: 600px){
	
	
	html{
		font-size: 2px;
	}
	.myBtn {
  
		margin-top: 4%; /* Place the button at the bottom of the page */
		margin-left: 90%; /* Place the button 30px from the right */
		width: 8%;
		padding-bottom: 8%;
		border-radius: 50%;
  	
	}
	.AllCross{
		
		width: 8%;
		padding-bottom: 8%;
		margin-left: 90%;
		margin-top: 4%;

	}
	.Cross1{	
		margin-top: 2.8%;
		margin-left: 2%;
		width: 4%;
		padding-bottom: 0.5%;
	
	}
	.Cross1.open{
		margin-top: 3.8%;
		transform: rotate(45deg);
	}
	.Cross2{
		
		margin-top: 3.8%;
		margin-left: 2%;
		width: 4%;
		padding-bottom: 0.5%;
		
	}
	.Cross2.open{
		opacity: 0;
	}
	.Cross3{
		
		margin-top: 4.8%;
		margin-left: 2%;
		width: 4%;
		padding-bottom: 0.5%;
		
	}
	.Cross3.open{
		margin-top: 3.8%;
		transform: rotate(-45deg);
	}
	.MenuContent{
		
		margin-top: 15%;
		
	}
	.MenuBtn{
		font-size: 12rem;
	}
	.Ab{
		font-size: 10rem;
	}
	.l-earth{
		position: absolute;
		top: 40%;
		width: 20%;
		}
	.l-word {
		position: absolute;
		top: 55%;
		font-size: 28px;
		letter-spacing: 12px;
		text-align: center;

	}
	
}

@media (min-width: 100px) and (max-width: 375px){
	
	html{
		font-size: 1px;
	}
}